<h5>Sign in</h5>
<%= link "Sign in with Google" , to: auth_path(@conn, :request, "google"), class: "btn-large blue darken-4" %></li>
<%= link "Sign in with Facebook" , to: auth_path(@conn, :request, "facebook"), class: "btn-large blue darken-4" %></li>
<%= link "Sign in with Github" , to: auth_path(@conn, :request, "github"), class: "btn-large blue darken-4" %></li>
