ul {
  margin: 0;
}
i:hover {
  color: red;
}
#fixedbutton {
  position: fixed;
  bottom: 0px;
  right: 0px;
}

.drop-interface-tag {
  width: auto;
  padding: 3px;
  background: gray;
  float: left;
  margin-right: 10px;
}

.tags-container,
.articles-container,
.form-container {
  margin-top: 20px;
}

.tag-container {
  border: 0px solid gray;
  height: auto;
  width: inherit;
}
.tag-collapsible {
  background: bisque;
}
.tag {
  height: auto;
  min-height: 25px;
}

.articles-unbound {
  padding-top: 5px;
  padding-bottom: 5px;
}

.tag-header {
  border-bottom: 1px red solid;
  margin-bottom: 20px;
}
.tag-toolbar {
  margin: 0;
}
.tag-body-toolbar {
  cursor: pointer;
}
/* .tag-body-toolbar:hover {
  background: lightgray;
  color: #333;
} */

.tag-body h6,
.tag-body .tag-body-toolbar,
.tag-body-interface {
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
}
.tag-body-interface {
  color: red;
}
.tag-body-interface i {
  vertical-align: middle;
}
/* .tag-body-interface:hover {
  color: white;
  background: red;
} */
.hover-tag-body,
.articles-unbound:hover,
.article-drag-hover {
  background: lightgray;
  cursor: pointer;
}
.tag-body-selected {
  background: green !important;
  padding-left: 5px;
}
.tag-body-selected h6 {
  color: white;
}
.tag-title {
  font-weight: bold;
  font-size: 1.2em;
}

.form-container h6 {
  color: blue;
}

.tag-edit-input {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-color: darkgreen;
}

.tag-edit-input-title {
  font-size: 1.2em;
}

.tag-edit-label {
  color: #333 !important;
  font-size: 1.2rem !important;
}

.article {
  border-bottom: 1px solid lightgray;
}
.article .row {
  margin-bottom: 0 !important;
}
.article-item-more,
.article-item-body {
  padding-top: 5px;
  padding-bottom: 5px;
}
.article-item-more {
  padding-left: 5px;
  padding-right: 15px;
  color: gray;
}
.article-item-more:hover {
  color: red !important;
}
.article-item-body {
  color: #333;
}
.article-item-title {
  color: #333;
}
.article:hover .article-item-more,
.article-item-title {
  color: black;
}
.favicon {
  margin-right: 5px;
  position: inherit;
  top: 18px;
  left: 50px;
  width: 32px;
  cursor: move;
}
.article:hover .article-item-title {
  font-weight: bold;
}

.article-edit {
  border: 1px red solid;
}
