<div>User <%=@conn.assigns.user.name%> (<%=@conn.assigns.user.email%>) with <%=@conn.assigns.user.provider%></div>
<div class="application"></div>

<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
<script src="<%= static_path(@conn, "/js/index.js") %>"></script>